ansible==4.4.0
ansible-core==2.11.4
awscli==1.20.24
boto==2.49.0
boto3==1.18.24
botocore==1.21.24
cffi==1.14.6
colorama==0.4.3
cryptography==3.4.7
docutils==0.15.2
Jinja2==3.0.1
jmespath==0.10.0
MarkupSafe==2.0.1
packaging==21.0
pyasn1==0.4.8
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.2
PyYAML==5.4.1
resolvelib==0.5.4
rsa==4.7.2
s3transfer==0.5.0
six==1.16.0
urllib3==1.26.6
