---
aws_access_key_id: "REPLACE_WITH_ACCESS_KEY_ID"
aws_secret_access_key: "REPLACE_WITH_SECRET_ACCESS_KEY"

# User credentials for access.redhat.com 
# Used to fetch images from registry.redhat.io
redhat_registry_user: "replace_with_portal_credentials"
redhat_registry_password: "portal_password"

#
# Obtain the token by going to try.openshift.com
# Be sure that when you add your token in you use ' ' 
# The token will contain " inside of it, you need to wrap with ' to escape
# Make sure your token looks like this : 
# ocp4_pull_secret: '{"auths":{"cloud.openshift.com":{"auth":"<SOME_VALUE>","email":"john@doe.com"},"quay.io":{"auth":"<SOME_VALUE>","email":"john@doe.com"},"registry.connect.redhat.com":{"auth":"<SOME_OTHER_VALUE>","email":"john@doe.com"},"registry.redhat.io":{"auth":"<SOME_OTHER_VALUE>","email":"john@doe.com"}}}'
ocp4_pull_secret: '<REPLACE_ME_WITH_TOKEN>'

#
# Below is if you have a mirror of content you want to use
# Reach out to one of the developers if you need access to an internal mirror we have
# 
own_repo_path: "http://REPLACE_ME/repos/ocp/{{ osrelease }}/"


# If not using, 'own_repo_path', you need to supply credentials for 
# subscription manager to register for yum content 
#
# Uncomment the below if you are not using 
# 'own_repo_path' and enter credentials for subscription manager
#
#rhel_subscription_user: "replace_with_username"
#rhel_subscription_pass: "replace_with_password"
#repo_method="rhn"
#rhn_pool_id_string="Employee SKU" 
