#
# Below is if you have a mirror of content you want to use
# Reach out to one of the developers if you need access to an internal mirror we have
#
# own_repo_path: "http://REPLACE_ME/repos/ocp/{{ osrelease }}/"

# If not using, 'own_repo_path', you need to supply credentials for
# subscription manager to register for yum content
#
# Uncomment the below if you are not using
# 'own_repo_path' and enter credentials for subscription manager
#
#rhel_subscription_user: "replace_with_username"
#rhel_subscription_pass: "replace_with_password"
#repo_method="rhn"
#rhn_pool_id_string="Employee SKU"

