# If you are using satellite as a repository, set the following:
# Variables to be set are:
repo_method: satellite
satellite_url: your.satellite.host
set_repositories_satellite_url: "{{ satellite_url }}"
satellite_org: your_org
set_repositories_satellite_org: "{{ satellite_org }}"
satellite_activationkey: activation_key
set_repositories_satellite_activationkey: "{{ satellite_activationkey }}"

