---
aws_access_key_id: "REPLACE_WITH_ACCESS_KEY_ID"
aws_secret_access_key: "REPLACE_WITH_SECRET_ACCESS_KEY"

# User credentials for access.redhat.com
# Used to fetch images from registry.redhat.io
redhat_registry_user: "replace_with_portal_credentials"
redhat_registry_password: "portal_password"

