email: "jmatthew@redhat.com"

guid: jwm0701ocp4b

output_dir: "/home/REPLACE_USERNAME/.agnosticd/{{ guid }}"

subdomain_base_suffix: .mg.dog8code.com
HostedZoneId: Z2GE8CSGW2ZA8W


key_name: libra # your private key [ must be present at ~/.ssh/<key_name>.pem ]
cloud_provider: ec2
aws_region: us-west-2


cloud_tags: # list of custom tags to add to your aws resources
- owner: "{{ email }}"

